<div class="side-user">
  <div class="username">
    <a href="#">Tom</a>
  </div>
  <div class="make-chat">
    <a href="">チャットを作成する</a>
  </div>

</div>

<div class="rooms">
  
  <div class="chat-room">
    <div class="room">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="chat-room">
    <div class="room">
      <a href="#">techroom2</a>
    </div>
  </div>
  </div>
</div>